.header {
	&--main {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		padding: 30px 15px;
		@include media-breakpoint-up(md) {
			padding: 30px;
		}
	}
	.site-logo {
		max-height: 21px;
		width: 59px;
		@include media-breakpoint-up(md) {
			max-height: 40px;
			width: 111px;
		}
	}
}

.navigation-modal__close {
	&:hover {
		background-color: transparent;
		border-color: transparent;
		box-shadow: none;
	}
	&:focus {
		background-color: transparent;
		border-color: transparent;
		box-shadow: none;
	}
	&:active {
		background-color: transparent;
		border-color: transparent;			
		box-shadow: none;
	}
	&:focus-visible {
		background-color: transparent;
		border-color: transparent;
		box-shadow: none;
	}
}

.navigation-modal {
	background-color: #380E11;
	ul {
		padding: 0;
	}
	li {
		list-style: none;
		text-align: center;
		margin-bottom: 25px;
	}
	a {
		@include indivisible-regular;
		color: $white;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 1.28px;
		text-decoration: none;
		text-transform: uppercase;
	}

	@media (max-width: 767px) {
		a {
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 1.12px;
		}
	}
	.modal-content {
		background: none;
		border: none;
	}
	&__close {
		color: $white;
		position: fixed;
		top: 30px;
		right: 30px;
		width: 50px;
		opacity: 0;
		transition: opacity .25s ease-out;
		border: none;
		font-size: 24px;
		line-height: .85;
		&--opacity {
			opacity: 1;
		}
	}
	&__button-toggle {
		background: none;
		border: none;
		float: right;
		border: none;
		&:focus {
			background-color: transparent;
			border: none;
			box-shadow: none;
		}
		.change-nav-button & {
			&:hover {
				@include media-breakpoint-up(md) {
					background-color: $black;
				}
			}
		}
		&:hover {
			background-color: $white;
			border: none;
			box-shadow: none;
		}
		[data-whatintent='keyboard'] & {
			&:focus {
				background-color: $white;
				border: none;
				box-shadow: none;
			}
		}
		span {
			background: $black;
			display: block;
			width: 25px;
			height: 3px;
			margin-bottom: 5px;
			position: relative;
			z-index: 1;
			.change-nav-button & {
				@include media-breakpoint-up(md) {
					background: $white;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
