.btn {
	&--blank {
		background: none;
		border: none;
		padding: 0;
		border-radius: 0;
		color: $black;
		&:focus,
		&:active {
			box-shadow: none !important;
		}
	}

	&--mplus {
		color: $black;
		border-color: $black;
		border-radius: 0;
		padding: 10px 30px;
		background-color: transparent;
		&:hover,
		&:focus,
		&:active {
			color: $white;
			background-color: $black;
		}
	}
}
