.mailchimp {
	&__label {
		@extend .h3;
		display: block;
		@include media-breakpoint-down(sm) {
			padding-bottom: 30px !important;
			margin: 0;
		}
	}
	&__input {
		@extend .h1;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		border-bottom: 1px solid $black;
		color: $black;
		display: block;
		position: relative;
		width: 100%;
		z-index: 0;
		@include media-breakpoint-down(sm) {
			font-size: 25px;
			padding-bottom: 16px;
		}
		@include placeholder(){
			color: $black;
		}
	}
	&__form-container {
		position: relative;
	}

	&__submit {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 2;
		input {
			appearance: none;
			background: none;
			border: none;
			line-height: 63px;
		}
	}
}
