.project-preview {
	position: relative;
	color: $black;
	&:before {
		background: $offPeach;
		height: 100%;
		width: 100%;
		left: 0;
		opacity: 0;
		top: 0;
		position: absolute;
		transition: opacity 0.3s ease-out;
		z-index: 1;
		content: '';
		display: block;
	}
	img {
		position: relative;
		z-index: 0;
	}
	span {
		@include centerer;
		@extend .h3;
		color: $black;
		z-index: 2;
		transition: opacity .3s ease-out;
		opacity: 0;
		text-align: center;
		display: block;
		width: 85%;
	}
	&:hover,
	&:focus {
		&:before {
			opacity: .8;
		}
		span {
			opacity: 1;
		}
	}
	&--col-replacement {
		padding: 0;
	}
}
